body {
    padding: 10px;
    background-color: #ccccbb;
}

.ng-cloak {
    display: none;
}

accordian .ng-enter {
	animation: fadeIn 0.5s;
}

accordian .ng-leave {
	animation: fadeOut 0.5s;
}
